.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #110556;
  color: white;
  padding: 15px 30px;
  flex-wrap: wrap;
  position: relative;
}

.logo-img {
  height: 70px;
  width: auto;
  object-fit: contain;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-left: -25px;
}

/* Nav Links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links a:hover {
  color: #ddd;
  text-decoration: none;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 1.2rem;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: #110556;
    padding: 20px;
    z-index: 10;
  }
  .logo-img{
    margin-left: -45px;
  }
  .nav-links.open {
    display: flex;
  }

  .social-icons {
    display: none;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .social-icons.visible {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
